---
import Meta from "@components/Meta.astro";
import DashboardNavbar from "@components/ui/dashboard/DashboardNavbar.astro";
import DashboardSidebar from "@components/ui/dashboard/DashboardSidebar.astro";
import { SITE } from "@data/constants";

interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}

const { 
  title = `${SITE.title} Dashboard`, 
  meta, 
  structuredData, 
  lang = "en" 
} = Astro.props;
---

<html lang={lang} class="scrollbar-hide lenis lenis-smooth scroll-pt-16">
  <head>
    <Meta meta={meta} structuredData={structuredData} />
    <title>{title}</title>
    <script is:inline>
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script>
      import "@scripts/lenisSmoothScroll.js";
    </script>
  </head>
  <body class="bg-gray-50 dark:bg-neutral-900">
    <div class="min-h-screen flex">
      <!-- Sidebar -->
      <DashboardSidebar />
      
      <!-- Main Content -->
      <div class="flex-1">
        <DashboardNavbar />
        <main class="p-4 md:p-6 lg:p-8">
          <slot />
        </main>
      </div>
    </div>
    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>