---
// Import section components
import MainLayout from '@/layouts/MainLayout.astro';
import Btn404 from '@components/ui/buttons/Btn404.astro';
import { SITE } from '@data/constants';

// Define variables for page content
const pageTitle = `Oops! Page Not Found | ${SITE.title}`;
const subTitle = "Uh-oh! Looks like we've wandered into uncharted territory!";
const content =
  "Don't worry, even Amina gets lost sometimes! Let's get you back to where the fun's happening.";
const btnTitle = 'Back to safety';
---

<MainLayout title={pageTitle}>
  <section class="grid h-svh place-content-center">
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="text-dark mb-4 text-7xl font-extrabold text-yellow-500 dark:text-yellow-400 lg:text-9xl animate-bounce"
        >
          404
        </h1>
        <p
          id="subtitle"
          class="mb-4 text-balance text-3xl font-bold tracking-tight text-neutral-700 dark:text-neutral-300 md:text-4xl"
        >
          {subTitle}
        </p>
        <p
          id="content"
          class="mb-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
        >
          {content}
        </p>
        <!-- Display a button that navigates user back to the previous page -->
        <Btn404 title={btnTitle} id="go-back" />
      </div>
    </div>
  </section>
</MainLayout>

<!-- JavaScript code to handle going back to the previous page -->
<script>
  const goBackButton = document.getElementById('go-back') as HTMLButtonElement;

  goBackButton.addEventListener('click', () => {
    history.back();
  });
</script>
