<!DOCTYPE html>
<html>

	<%- include('../includes/head') %>
	
	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">

			<!-- The header is the topbar -->
			<%- include('../includes/header') %>

			<!-- The sidebar includes the menu -->
			<%- include('../includes/sidebar') %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h3> Basic </h3>
					<ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i>Selector</a></li>
                        <li><a href="<%=`/manage/${guild.id}/`%>"><%=guild.name%></a></li>
                        <li class="active">Basic</li>
					</ol>
				</section>

				<section class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BASIC CONFIGURATION -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">General Configuration</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Prefix</label>
                                            <input type="text" name="prefix" class="form-control" placeholder="<%= guild.prefix %>">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.ranking.enabled) { %>
                                                        <input type="checkbox" name="ranking" checked>Ranking
                                                    <% } else { %>
                                                        <input type="checkbox" name="ranking">Ranking
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.flag_translation?.enabled) { %>
                                                        <input type="checkbox" name="flag_translation" checked>Flag Translation
                                                    <% } else { %>
                                                        <input type="checkbox" name="flag_translation">Flag Translation
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Moderation Logs</label>
                                            <select class="form-control" name="modlog_channel">
                                                <% if(guild.modlog_channel && bot.channels.cache.has(guild.modlog_channel)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(guild.modlog_channel).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "GUILD_TEXT" && ch.id !== guild.modlog_channel).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>No channel</option>
                                                <% } else { %>
                                                    <option selected="selected">No channel</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "GUILD_TEXT").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" name="basicUpdate" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END: BASIC CONFIGURATION -->

                            <!-- TICKET CONFIGURATION -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Ticket Configuration</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Ticket Limit</label>
                                            <input type="number" name="limit" class="form-control" placeholder="<%= guild.ticket.limit %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Ticket Logs</label>
                                            <select class="form-control" name="channel">
                                                <% if(guild.ticket.log_channel && bot.channels.cache.has(guild.ticket.log_channel)){ %>
                                                    <option selected="selected">#<%= bot.channels.cache.get(guild.ticket.log_channel).name %></option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "GUILD_TEXT" && ch.id !== guild.ticket.log_channel).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>No channel</option>
                                                <% } else { %>
                                                    <option selected="selected">No channel</option>
                                                    <% guild.channels.cache.filter((ch) => ch.type === "GUILD_TEXT").forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" name="ticketUpdate" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END: TICKET CONFIGURATION -->

                        </div>

                        <div class="col-md-6">

                            <!-- INVITE CONFIGURATION -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Invite Configuration</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.invite.tracking) { %>
                                                        <input type="checkbox" name="tracking" checked>Invite Tracking
                                                    <% } else { %>
                                                        <input type="checkbox" name="tracking">Invite Tracking
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" name="inviteUpdate" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END: INVITE CONFIGURATION -->

                            <!-- AUTOMOD CONFIGURATION -->
                            <div class="box box-warning">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Automod Configuration</h3>
                                </div>
                                <form role="form" action="/manage/<%= guild.id %>/basic/" method="POST">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Max Strikes</label>
                                            <input type="number" name="max_strikes" class="form-control" placeholder="<%= guild.automod.strikes %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Max Strikes Action</label>
                                            <select class="form-control" name="automod_action">
                                                <option selected="selected"><%= guild.automod.action %></option>
                                                <% if(guild.automod.action !== "MUTE") { %>
                                                    <option>MUTE</option>
                                                <% } %>
                                                <% if(guild.automod.action !== "KICK") { %>
                                                    <option>KICK</option>
                                                <% } %>
                                                <% if(guild.automod.action !== "BAN") { %>
                                                    <option>BAN</option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Max Lines</label>
                                            <input type="number" name="max_lines" class="form-control" placeholder="<%= guild.automod.max_lines %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Max Mentions</label>
                                            <input type="number" name="max_mentions" class="form-control" placeholder="<%= guild.automod.max_mentions %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Max Role Mentions</label>
                                            <input type="number" name="max_role_mentions" class="form-control" placeholder="<%= guild.automod.max_role_mentions %>">
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.automod.anti_links) { %>
                                                        <input type="checkbox" name="anti_links" checked>Anti Links
                                                    <% } else { %>
                                                        <input type="checkbox" name="anti_links">Anti Links
                                                    <% } %>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.automod.anti_scam) { %>
                                                        <input type="checkbox" name="anti_scam" checked>Anti Scam
                                                    <% } else { %>
                                                        <input type="checkbox" name="anti_scam">Anti Scam
                                                    <% } %>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.automod.anti_invites) { %>
                                                        <input type="checkbox" name="anti_invites" checked>Anti Invites
                                                    <% } else { %>
                                                        <input type="checkbox" name="anti_invites">Anti Invites
                                                    <% } %>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <% if(guild.automod.anti_ghostping) { %>
                                                        <input type="checkbox" name="anti_ghostping" checked>Anti Ghostping
                                                    <% } else { %>
                                                        <input type="checkbox" name="anti_ghostping">Anti Ghostping
                                                    <% } %>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" name="automodUpdate" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END: AUTOMOD CONFIGURATION -->
                        </div>

                    <div>
				</section>
				
				<!-- Footer includes credits and version -->
			</div>
            <!-- /.content-wrapper -->
            
            <%- include('../includes/footer') %>
		</div>
		<!-- ./wrapper -->
	</body>
</html>