<!DOCTYPE html>
<html>
<%- include('../includes/head') %>

  <% if(config.DASHBOARD.style=="dark"){ %>

    <body class="hold-transition skin-blue sidebar-mini body-custom-dark">
      <%} else {%>

        <body class="hold-transition skin-blue sidebar-mini body-custom-light">
          <%}%>

            <% if(config.DASHBOARD.style=="dark"){ %>
              <div class="wrapper wrapper-custom-dark">
                <%} else {%>
                  <div class="wrapper wrapper-custom-light">
                    <%}%>
                      <!-- The header is the topbar -->
                      <%- include('../includes/header') %>

                        <!-- The sidebar includes the menu -->
                        <%- include('../includes/sidebar') %>

                          <!-- Content Wrapper. Contains page content -->
                          <% if(config.DASHBOARD.style=="dark"){ %>
                            <div class="content-wrapper content-wrapper-custom-dark">
                              <%} else {%>
                                <div class="content-wrapper content-wrapper-custom-light">
                                  <%}%>
                                    <!-- Content Header (Page header) -->
                                    <% if(config.DASHBOARD.style=="dark"){ %>
                                      <section class="content-header content-header-custom-dark">
                                        <%} else {%>
                                          <section class="content-header content-header-custom-light">
                                            <%}%>
                                              <h3>Farewell</h3>
                                              <% if(config.DASHBOARD.style=="dark"){ %>
                                                <ol class="breadcrumb breadcrumb-custom-dark">
                                                  <%} else {%>
                                                    <ol class="breadcrumb breadcrumb-custom-light">
                                                      <%}%>
                                                        <li>
                                                          <a href="/"><i class="fa fa-home"></i>Selector</a>
                                                        </li>
                                                        <li><a href="<%=`/manage/${guild.id}/`%>">
                                                            <%=guild.name%>
                                                          </a></li>
                                                        <% if(config.DASHBOARD.style=="dark"){ %>
                                                          <li class="active active-custom-dark">Farewell</li>
                                                          <%} else {%>
                                                            <li class="active active-custom-light">Farewell</li>
                                                            <%}%>

                                                    </ol>
                                          </section>
                                          <div class="alert alert-success pull-right" id="response"
                                            style="display: none; width: 30% !important">
                                            <strong>Success!</strong> Configuration saved!
                                          </div>
                                          <div class="alert alert-danger pull-right" id="errorresponse"
                                            style="display: none; width: 30% !important">
                                            <strong>Error!</strong> There was an error, please try again!
                                          </div>
                                          <section class="content">
                                            <div class="row">
                                              <div class="col-md-6">
                                                <!-- FAREWELL CONFIGURATION -->
                                                <% if(config.DASHBOARD.style=="dark"){ %>
                                                  <div class="box box-warning box-custom-dark box-warning-custom-dark">
                                                    <%} else {%>
                                                      <div class="box box-warning box-custom-light box-warning-custom-light">
                                                        <%}%>
                                                          <% if(config.DASHBOARD.style=="dark"){ %>
                                                            <div
                                                              class="box-header with-border box-header-custom-dark with-border-custom-dark">
                                                              <%} else {%>
                                                                <div class="box-header with-border box-header-custom-light with-border-custom-light">
                                                                  <%}%>
                                                                    <h3 class="box-title">Farewell</h3>
                                                                </div>
                                                                <form role="form"
                                                                  action="/manage/<%= guild.id %>/farewell/"
                                                                  method="POST" id="farewellForm">
                                                                  <div class="box-body">
                                                                    <div class="form-group">
                                                                      <label>Content</label>
                                                                      <% if(guild.farewell.embed.description ||
                                                                        guild.farewell.content) {%>
                                                                        <% if(config.DASHBOARD.style=="dark"){ %>
                                                                          <textarea rows="3" name="content"
                                                                            class="form-control form-control-custom-dark">
<%- guild.farewell.content?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                                                          <%} else {%>
                                                                            <textarea rows="3" name="content"
                                                                              class="form-control form-control-custom-light">
<%- guild.farewell.content?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                                                            <%}%>
                                                                              <% } else { %>
                                                                                <% if(config.DASHBOARD.style=="dark"){
                                                                                  %>
                                                                                  <textarea rows="3" name="content"
                                                                                    class="form-control form-control-custom-dark"
                                                                                    placeholder="<%= '{member:tag} has left the server 👋' %>"></textarea>
                                                                                  <%} else {%>
                                                                                    <textarea rows="3" name="content"
                                                                                      class="form-control form-control-custom-light"
                                                                                      placeholder="<%= '{member:tag} has left the server 👋' %>"></textarea>
                                                                                    <%}%>

                                                                                      <% } %>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label>Description</label>
                                                                      <% if(config.DASHBOARD.style=="dark"){ %>
                                                                        <textarea rows="3" name="description"
                                                                          class="form-control form-control-custom-dark">
<%- guild.farewell.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                                                        <%} else {%>
                                                                          <textarea rows="3" name="description"
                                                                            class="form-control form-control-custom-light">
<%- guild.farewell.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea>
                                                                          <%}%>

                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label>Footer</label>
                                                                      <% if(config.DASHBOARD.style=="dark"){ %>
                                                                        <input type="text" name="footer"
                                                                          class="form-control form-control-custom-dark"
                                                                          value="<%= guild.farewell.embed.footer %>" />
                                                                        <%} else {%>
                                                                          <input type="text" name="footer"
                                                                            class="form-control form-control-custom-light"
                                                                            value="<%= guild.farewell.embed.footer %>" />
                                                                          <%}%>

                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label>Hex Color</label>
                                                                      <% if(config.DASHBOARD.style=="dark"){ %>
                                                                        <input type="text" name="hexcolor"
                                                                          class="form-control form-control-custom-dark"
                                                                          value="<%= guild.farewell.embed.color %>" />
                                                                        <%} else {%>
                                                                          <input type="text" name="hexcolor"
                                                                            class="form-control form-control-custom-light"
                                                                            value="<%= guild.farewell.embed.color %>" />
                                                                          <%}%>

                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label>Image URL</label>
                                                                      <% if(config.DASHBOARD.style=="dark"){ %>
                                                                        <input type="text" name="image"
                                                                          class="form-control form-control-custom-dark"
                                                                          value="<%= guild.farewell.embed.image %>" />
                                                                        <%} else {%>
                                                                          <input type="text" name="image"
                                                                            class="form-control form-control-custom-light"
                                                                            value="<%= guild.farewell.embed.image %>" />
                                                                          <%}%>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label>Channel</label>
                                                                      <% if(config.DASHBOARD.style=="dark"){ %>
                                                                        <select
                                                                          class="form-control form-control-custom-dark"
                                                                          name="channel">
                                                                          <% if(bot.channels.cache.has(guild.farewell.channel)){
                                                                            %>
                                                                            <option selected="selected">#<%=
                                                                                bot.channels.cache.get(guild.farewell.channel).name
                                                                                %>
                                                                            </option>
                                                                            <% guild.channels.cache.filter((ch)=> ch.id
                                                                              !== guild.farewell.channel && ch.type ===
                                                                              0).forEach((ch) => { %>
                                                                              <option>#<%= ch.name %>
                                                                              </option>
                                                                              <% }); } else { %>
                                                                                <option disabled selected value>--
                                                                                  select an option --</option>
                                                                                <% guild.channels.cache.filter((ch)=>
                                                                                  ch.id !==
                                                                                  guild.channels.cache.first().id &&
                                                                                  ch.type ===
                                                                                  0).forEach((ch) => { %>
                                                                                  <option>#<%= ch.name %>
                                                                                  </option>
                                                                                  <% }); %>
                                                                                    <% } %>
                                                                        </select>
                                                                        <%} else {%>
                                                                          <select class="form-control form-control-custom-light" name="channel">
                                                                            <% if(bot.channels.cache.has(guild.farewell.channel)){
                                                                              %>
                                                                              <option selected="selected">#<%=
                                                                                  bot.channels.cache.get(guild.farewell.channel).name
                                                                                  %>
                                                                              </option>
                                                                              <% guild.channels.cache.filter((ch)=>
                                                                                ch.id !== guild.farewell.channel &&
                                                                                ch.type ===
                                                                                0).forEach((ch) => { %>
                                                                                <option>#<%= ch.name %>
                                                                                </option>
                                                                                <% }); } else { %>
                                                                                  <option disabled selected value>--
                                                                                    select an option --</option>
                                                                                  <% guild.channels.cache.filter((ch)=>
                                                                                    ch.id !==
                                                                                    guild.channels.cache.first().id &&
                                                                                    ch.type ===
                                                                                    0).forEach((ch) => { %>
                                                                                    <option>#<%= ch.name %>
                                                                                    </option>
                                                                                    <% }); %>
                                                                                      <% } %>
                                                                          </select>
                                                                          <%}%>

                                                                    </div>
                                                                    <div class="form-group">
                                                                      <div class="checkbox">
                                                                        <label>
                                                                          <% if(guild.farewell.embed.thumbnail) { %>
                                                                            <input type="checkbox" name="thumbnail"
                                                                              checked />Thumbnail <% } else { %>
                                                                              <input type="checkbox"
                                                                                name="thumbnail" />Thumbnail <% } %>
                                                                        </label>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                  <% if(config.DASHBOARD.style=="dark"){ %>
                                                                    <div class="box-footer box-footer-custom-dark">
                                                                      <% if(guild.farewell.enabled){ %>
                                                                        <button type="submit" onerror="errorresponse()"
                                                                          name="farewellDisable"
                                                                          class="btn btn-danger btn-custom-dark btn-danger-custom-dark">
                                                                          Disable Messages
                                                                        </button>
                                                                        <button type="submit" onerror="errorresponse()"
                                                                          name="farewellUpdate"
                                                                          class="btn btn-primary pull-right btn-custom-dark btn-primary-custom-dark">
                                                                          Update
                                                                        </button>
                                                                        <% } else { %>
                                                                          <button type="submit"
                                                                            onerror="errorresponse()"
                                                                            name="farewellEnable"
                                                                            class="btn btn-success btn-custom-dark btn-success-custom-dark">
                                                                            Enable Message
                                                                          </button>
                                                                          <% } %>
                                                                    </div>
                                                                    <%} else {%>
                                                                      <div class="box-footer box-footer-custom-light">
                                                                        <% if(guild.farewell.enabled){ %>
                                                                          <button type="submit"
                                                                            onerror="errorresponse()"
                                                                            name="farewellDisable"
                                                                            class="btn btn-danger btn-custom-light btn-danger-custom-light">
                                                                            Disable Messages
                                                                          </button>
                                                                          <button type="submit"
                                                                            onerror="errorresponse()"
                                                                            name="farewellUpdate"
                                                                            class="btn btn-primary pull-right btn-custom-light btn-primary-custom-light">
                                                                            Update
                                                                          </button>
                                                                          <% } else { %>
                                                                            <button type="submit"
                                                                              onerror="errorresponse()"
                                                                              name="farewellEnable"
                                                                              class="btn btn-success btn-custom-light btn-success-custom-light">
                                                                              Enable Message
                                                                            </button>
                                                                            <% } %>
                                                                      </div>
                                                                      <%}%>

                                                                </form>
                                                            </div>
                                                            <!-- END: FAREWELL CONFIGURATION -->
                                                      </div>
                                                  </div>
                                          </section>
                                </div>
                            </div>
        </body>
        <script>
          $("#farewellForm").submit(function () {
            if (window.innerWidth <= 994) {
              alert('Configuration saved!')
            } else {
              var x = document.getElementById("response");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            }
          });

          function errorresponse() {
            var x = document.getElementById("errorresponse");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
          }
        </script>

</html>