<!DOCTYPE html>
<html>
<%- include('../includes/head') %>

  <% if(config.DASHBOARD.style=="dark"){ %>

    <body class="hold-transition skin-blue sidebar-mini body-custom-dark">
      <%} else {%>

        <body class="hold-transition skin-blue sidebar-mini body-custom-light">
          <%}%>

            <% if(config.DASHBOARD.style=="dark"){ %>
              <div class="wrapper wrapper-custom-dark">
                <%} else {%>
                  <div class="wrapper wrapper-custom-light">
                    <%}%>
                      <!-- The header is the topbar -->
                      <%- include('../includes/header') %>

                        <!-- The sidebar includes the menu -->
                        <%- include('../includes/sidebar') %>

                          <!-- Content Wrapper. Contains page content -->
                          <% if(config.DASHBOARD.style=="dark"){ %>
                            <div class="content-wrapper content-wrapper-custom-dark">
                              <%} else {%>
                                <div class="content-wrapper content-wrapper-custom-light">
                                  <%}%>
                                    <!-- Content Header (Page header) -->
                                    <% if(config.DASHBOARD.style=="dark"){ %>
                                      <section class="content-header content-header-custom-dark">
                                        <%} else {%>
                                          <section class="content-header content-header-custom-light">
                                            <%}%>
                                              <h3>General</h3>
                                              <% if(config.DASHBOARD.style=="dark"){ %>
                                                <ol class="breadcrumb breadcrumb-custom-dark">
                                                  <%} else {%>
                                                    <ol class="breadcrumb breadcrumb-custom-light">
                                                      <%}%>
                                                        <li>
                                                          <a href="/"><i class="fa fa-home"></i>Selector</a>
                                                        </li>
                                                        <li><a href="<%=`/manage/${guild.id}/`%>">
                                                            <%=guild.name%>
                                                          </a></li>
                                                        <% if(config.DASHBOARD.style=="dark"){ %>
                                                          <li class="active active-custom-dark">General</li>
                                                          <%} else {%>
                                                            <li class="active active-custom-light">General</li>
                                                            <%}%>

                                                    </ol>
                                          </section>
                                          <div class="alert alert-success pull-right" id="response"
                                            style="display: none; width: 30% !important">
                                            <strong>Success!</strong> Configuration saved!
                                          </div>
                                          <div class="alert alert-danger pull-right" id="errorresponse"
                                            style="display: none; width: 30% !important">
                                            <strong>Error!</strong> There was an error, please try again!
                                          </div>
                                          <% if(config.DASHBOARD.style=="dark"){ %>
                                            <section class="content content-custom-dark">
                                              <%} else {%>
                                                <section class="content">
                                                  <%}%>
                                                    <div class="row">
                                                      <div class="col-md-6">
                                                        <!-- GENERAL CONFIGURATION -->
                                                        <% if(config.DASHBOARD.style=="dark"){ %>
                                                          <div
                                                            class="box box-warning box-custom-dark box-warning-custom-dark">
                                                            <%} else {%>
                                                              <div class="box box-warning box-custom-light box-warning-custom-light">
                                                                <%}%>
                                                                  <% if(config.DASHBOARD.style=="dark"){ %>
                                                                    <div
                                                                      class="box-header with-border box-header-custom-dark with-border-custom-dark">
                                                                      <%} else {%>
                                                                        <div class="box-header with-border box-header-custom-light with-border-custom-light">
                                                                          <%}%>
                                                                            <h3 class="box-title">General</h3>
                                                                        </div>
                                                                        <form role="form"
                                                                          action="/manage/<%= guild.id %>/general/"
                                                                          method="POST" id="generalForm">
                                                                          <div class="box-body">
                                                                            <div class="form-group">
                                                                              <label>Prefix</label>
                                                                              <% if(config.DASHBOARD.style=="dark"){ %>
                                                                                <input type="text" name="prefix"
                                                                                  class="form-control form-control-custom-dark"
                                                                                  placeholder="<%= guild.prefix %>" />
                                                                                <%} else {%>
                                                                                  <input type="text" name="prefix"
                                                                                    class="form-control form-control-custom-light"
                                                                                    placeholder="<%= guild.prefix %>" />
                                                                                  <%}%>
                                                                            </div>
                                                                            <div class="form-group">
                                                                              <div class="checkbox">
                                                                                <label>
                                                                                  <% if(guild.flag_translation?.enabled)
                                                                                    { %>
                                                                                    <input type="checkbox"
                                                                                      name="flag_translation"
                                                                                      checked />Flag
                                                                                    Translation <% } else { %>
                                                                                      <input type="checkbox"
                                                                                        name="flag_translation" />Flag
                                                                                      Translation
                                                                                      <% } %>
                                                                                </label>
                                                                              </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                              <div class="checkbox">
                                                                                <label>
                                                                                  <% if(guild.invite.tracking) { %>
                                                                                    <input type="checkbox"
                                                                                      name="invite_tracking"
                                                                                      checked />Invite
                                                                                    Tracking <% } else { %>
                                                                                      <input type="checkbox"
                                                                                        name="invite_tracking" />Invite
                                                                                      Tracking <% } %>
                                                                                </label>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <% if(config.DASHBOARD.style=="dark"){ %>
                                                                            <div
                                                                              class="box-footer box-footer-custom-dark">
                                                                              <%} else {%>
                                                                                <div class="box-footer box-footer-custom-light">
                                                                                  <%}%>
                                                                                    <% if(config.DASHBOARD.style=="dark"
                                                                                      ){ %>
                                                                                      <button type="submit"
                                                                                        onerror="errorresponse()"
                                                                                        onclick="response()"
                                                                                        name="GeneralUpdate"
                                                                                        class="btn btn-primary btn-custom-dark btn-primary-custom-dark">
                                                                                        Update
                                                                                      </button>
                                                                                      <%} else {%>
                                                                                        <button type="submit"
                                                                                          onerror="errorresponse()"
                                                                                          onclick="response()"
                                                                                          name="GeneralUpdate"
                                                                                          class="btn btn-primary btn-custom-light btn-primary-custom-light">
                                                                                          Update
                                                                                        </button>
                                                                                        <%}%>
                                                                                </div>
                                                                        </form>
                                                                    </div>
                                                                    <!-- END: GENERAL CONFIGURATION -->
                                                              </div>
                                                          </div>
                                                </section>
                                </div>
                            </div>
        </body>
        <script>
          $("#generalForm").submit(function () {
            if (window.innerWidth <= 994) {
              alert('Configuration saved!')
            } else {
              var x = document.getElementById("response");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            }
          });

          function errorresponse() {
            var x = document.getElementById("errorresponse");
            if (x.style.display === "none") {
              x.style.display = "block";
            } else {
              x.style.display = "none";
            }
          }
        </script>

</html>