<!DOCTYPE html>
<html>
  <%- include('../includes/head') %>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- The header is the topbar -->
      <%- include('../includes/header') %>

      <!-- The sidebar includes the menu -->
      <%- include('../includes/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h3>Moderation</h3>
          <ol class="breadcrumb">
            <li>
              <a href="/"><i class="fa fa-home"></i>Selector</a>
            </li>
            <li><a href="<%=`/manage/${guild.id}/`%>"><%=guild.name%></a></li>
            <li class="active">Moderation</li>
          </ol>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-6">
              <!-- MODERATION CONFIGURATION -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">General</h3>
                </div>
                <form role="form" action="/manage/<%= guild.id %>/moderation/" method="POST">
                  <div class="box-body">
                    <div class="form-group">
                      <label>Max Warnings</label>
                      <input
                        type="number"
                        name="max_warnings"
                        class="form-control"
                        placeholder="<%= guild.max_warn.limit %>"
                      />
                    </div>
                    <div class="form-group">
                      <label>Max Warnings Action</label>
                      <select class="form-control" name="max_warn_action">
                        <option selected="selected"><%= guild.max_warn.action %></option>
                        <% if(guild.max_warn.action !== "TIMEOUT") { %>
                        <option>TIMEOUT</option>
                        <% } %> <% if(guild.max_warn.action !== "KICK") { %>
                        <option>KICK</option>
                        <% } %> <% if(guild.max_warn.action !== "BAN") { %>
                        <option>BAN</option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Moderation Logs</label>
                      <select class="form-control" name="modlog_channel">
                        <% if(guild.modlog_channel && bot.channels.cache.has(guild.modlog_channel)){ %>
                        <option selected="selected">#<%= bot.channels.cache.get(guild.modlog_channel).name %></option>
                        <% guild.channels.cache.filter((ch) => ch.type === 0 && ch.id !==
                        guild.modlog_channel).forEach((ch) => { %>
                        <option>#<%= ch.name %></option>
                        <% }); %>
                        <option>No channel</option>
                        <% } else { %>
                        <option disabled selected value>-- select an option --</option>
                        <% guild.channels.cache.filter((ch) => ch.type === 0).forEach((ch) => { %>
                        <option>#<%= ch.name %></option>
                        <% }); %> <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="box-footer">
                    <button type="submit" onclick="response()" name="modUpdate" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>
              <!-- END: MODERATION CONFIGURATION -->
            </div>
            <div class="alert alert-success pull-right" id="response" style="display: none; width: 30% !important">
              <strong>Success!</strong> Configuration saved!
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <script>
    function response() {
      var x = document.getElementById("response");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
</html>
