<!DOCTYPE html>
<html>
  <%- include('../includes/head') %>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- The header is the topbar -->
      <%- include('../includes/header') %>

      <!-- The sidebar includes the menu -->
      <%- include('../includes/sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h3>Welcome</h3>
          <ol class="breadcrumb">
            <li>
              <a href="/"><i class="fa fa-home"></i>Selector</a>
            </li>
            <li><a href="<%=`/manage/${guild.id}/`%>"><%=guild.name%></a></li>
            <li class="active">Welcome</li>
          </ol>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-6">
              <!-- WELCOME CONFIGURATION -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Welcome</h3>
                </div>
                <form role="form" action="/manage/<%= guild.id %>/welcome/" method="POST" id="welcomeForm">
                  <div class="box-body">
                    <div class="form-group">
                      <label>Content</label>
                      <% if(guild.welcome.embed.description || guild.welcome.content) {%>
                      <textarea rows="3" name="content" class="form-control">
<%- guild.welcome.content?.replaceAll(/\\n/g, '&#10;') %></textarea
                      >
                      <% } else { %>
                      <textarea
                        rows="3"
                        name="content"
                        class="form-control"
                        placeholder="<%= 'Welcome to the server {member:name} 🎉' %>"
                      ></textarea>
                      <% } %>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea rows="3" name="description" class="form-control">
<%- guild.welcome.embed.description?.replaceAll(/\\n/g, '&#10;') %></textarea
                      >
                    </div>
                    <div class="form-group">
                      <label>Footer</label>
                      <input type="text" name="footer" class="form-control" value="<%= guild.welcome.embed.footer %>" />
                    </div>
                    <div class="form-group">
                      <label>Hex Color</label>
                      <input
                        type="text"
                        name="hexcolor"
                        class="form-control"
                        value="<%= guild.welcome.embed.color %>"
                      />
                    </div>
                    <div class="form-group">
                      <label>Image URL</label>
                      <input type="text" name="image" class="form-control" value="<%= guild.welcome.embed.image %>" />
                    </div>
                    <div class="form-group">
                      <label>Channel</label>
                      <select class="form-control" name="channel">
                        <% if(bot.channels.cache.has(guild.welcome.channel)){ %>
                        <option selected="selected">#<%= bot.channels.cache.get(guild.welcome.channel).name %></option>
                        <% guild.channels.cache.filter((ch) => ch.id !== guild.welcome.channel && ch.type ===
                        0).forEach((ch) => { %>
                        <option>#<%= ch.name %></option>
                        <% }); } else { %>
                        <option disabled selected value>-- select an option --</option>
                        <% guild.channels.cache.filter((ch) => ch.id !== guild.channels.cache.first().id && ch.type ===
                        0).forEach((ch) => { %>
                        <option>#<%= ch.name %></option>
                        <% }); %> <% } %>
                      </select>
                    </div>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <% if(guild.welcome.embed.thumbnail) { %>
                          <input type="checkbox" name="thumbnail" checked />Thumbnail <% } else { %>
                          <input type="checkbox" name="thumbnail" />Thumbnail <% } %>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer">
                    <% if(guild.welcome.enabled){ %>
                    <button
                      type="submit"
                      onerror="errorresponse()"
                      onclick="response()"
                      name="welcomeDisable"
                      class="btn btn-danger"
                    >
                      Disable Messages
                    </button>
                    <button
                      type="submit"
                      onerror="errorresponse()"
                      onclick="response()"
                      name="welcomeUpdate"
                      class="btn btn-primary pull-right"
                    >
                      Update
                    </button>
                    <% } else { %>
                    <button
                      type="submit"
                      onerror="errorresponse()"
                      onclick="response()"
                      name="welcomeEnable"
                      class="btn btn-success"
                    >
                      Enable Message
                    </button>
                    <% } %>
                  </div>
                </form>
              </div>
              <!-- END: WELCOME CONFIGURATION -->
            </div>
            <div class="alert alert-success pull-right" id="response" style="display: none; width: 30% !important">
              <strong>Success!</strong> Configuration saved!
            </div>
            <div class="alert alert-danger pull-right" id="errorresponse" style="display: none; width: 30% !important">
              <strong>Error!</strong> There was an error, please try again!
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <script>
    $("#welcomeForm").submit(function () {
      var x = document.getElementById("response");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    });

    function errorresponse() {
      var x = document.getElementById("errorresponse");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
</html>
